.idea
/venv
.pyc
homeworks/homework2/__pycache__/
homeworks/homework4/__pycache__/
homeworks/homework7/venv/
homeworks/homework7/shipyard/shipyard/__pycache__/
homeworks/homework7/shipyard/showcase/__pycache__/
