{% extends "base.html" %}
{% load static %}
{% block title %}{{ object.title }}{% endblock %}
{% block page_content %}
<div class="row mt-4 justify-content-center">
    <div class="col-md-8">
        <img src="{% static 'ship.jpg' %}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <h5>About the object:</h5>
        <p>{{ object.description }}</p>
        <br>
        <h5>Manufactured by:</h5>
        <p>{{ object.manufacturer }}</p>
        <br>
        <h5>Unladen mass:</h5>
        <p>{{ object.mass }} kg</p>
        <br>
        <h5>Internals:</h5>
        <p>{{ object.internals.typing }}</p>
        <br>
        <h5>Weaponry:</h5>
        <p>{{ object.weapons.model }}</p>
        <br>
        <h5>Price:</h5>
        <p>{{ object.price }} credits</p>
        <a href="{% url 'ship_index' %}" class="btn btn-primary">Back to list ➡</a>
    </div>
</div>
{% endblock %}
